@import url('https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&display=swap');
@import url('https://fonts.cdnfonts.com/css/tenorite');

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
   
  .left-box,
  .right-box {
    width: calc(50% - 5px); /* De breedte van elke div is de helft van de containerbreedte minus de tussenruimte */
    height: 0;
    padding-bottom: calc(50% - 5px); /* Vierkant formaat */
    background-color: #fff;
    border: solid 1px black;    
  }
  
  .left-box {
    margin-right: 5px; /* Tussenruimte */
  }
  
  .right-box {
    margin-left: 5px; /* Tussenruimte */
  }
  
  @media (max-width: 768px) {
    /* Media-query voor responsiviteit bij kleinere schermen */
    .container {
      flex-direction: column; /* Div's worden onder elkaar geplaatst */
    }
  
    .left-box,
    .right-box {
      width: 100%; /* Breedte van elke div wordt 100% */
      margin: 5px 0; /* Tussenruimte boven en onder */
      border: solid 1px black;      
    }
  }

  .slide {
    width: calc(90% - 10px);
    height: 100%;
    padding: 20px;
    padding-bottom: calc(100% - 90px);  
    background-color: #fff;
    display: none;
    font-family: 'Tenorite', sans-serif;    
    font-size: 1.1vw;
  }
  
  .slide.active {
    display: block;
  }

  .feature-properties {
    display: none;
  }
  
.buttons {    
    position: relative;
    bottom: 0;
    justify-content: space-between; /* Horizontale centrering */
    align-items: center; /* Verticale centrering */    
    width: 90%;
    margin: auto; 
}
  
button {
    display:none;
    margin-top: 10px;
}

#nextBtn {
  position: absolute;
  right: 0;
}

#prevBtn {
  position: absolute;
  left: 0;
}

button {
  background-color: green; /* Groene achtergrondkleur */
  color: white; /* Witte tekstkleur */
  border: none; /* Geen rand */
  border-radius: 20px; /* Ronde hoeken */
  padding: 10px 20px; /* Ruimte binnen de knop */
  font-size: 16px; /* Tekstgrootte */
  cursor: pointer; /* Cursorstijl */
  outline: none; /* Verwijder standaardfocusstijl */
}

/* Hover-effect */
button:hover {
  background-color: darkgreen; /* Verander de achtergrondkleur bij hover */
}
  
.header {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

#infographic {
  width: 100%;
  padding-bottom: 100%;
  background-image: url('https://www.geonovum.nl/uploads/inline/IMX_0.jpg'); /* URL van de achtergrondafbeelding */
  background-size: contain; /* Zorg ervoor dat de achtergrondafbeelding de container bedekt */
  background-repeat: no-repeat; /* Voorkom herhaling van de achtergrondafbeelding */
  background-position: center; /* Centreer de achtergrondafbeelding */
}

.header h2 {
  font-family: "Ojuju", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  margin: 0;
}

.green-line {
  width: 100%;
  height: 5px;
  background-color: green;
  margin-top: 10px; /* Aanpassen aan uw behoefte */
  margin-bottom: 10px; /* Aanpassen aan uw behoefte */
}

#map {
    display: none;
    width: 100%;
    padding-bottom: 100%;
    margin: auto;
}


