@import url('https://fonts.cdnfonts.com/css/tenorite');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');


body {


  font-family: 'Tenorite', sans-serif; 
  overflow: hidden; 
  

}

.container {
    top: 0;
    width: 1420px;
    max-width: 1420px; 
    height: 720px;
    max-height: 720px;  
    margin: 0 auto;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
   
  .left-box,
  .right-box {
    padding: 0;
    width: 700px; /* De breedte van elke div is de helft van de containerbreedte minus de tussenruimte */
    height: 700px;    
    background-color: #fff;
    border: solid 1px black; 
    border-radius: 15px;   
    justify-content: space-between;
    align-items: center;

  }
  
  .left-box {
    float: left;
    clear: none;
    margin-right: 10px; /* Tussenruimte */
  }  
  .right-box {
    float: right;
    margin-left: 10px; /* Tussenruimte */
  }
  
  @media (max-width: 768px) {
    /* Media-query voor responsiviteit bij kleinere schermen */
    .container {
      flex-direction: column; /* Div's worden onder elkaar geplaatst */
    }  
    .left-box,
    .right-box {
      width: 100%; /* Breedte van elke div wordt 100% */
      margin: 5px 0; /* Tussenruimte boven en onder */
      border: solid 1px black;      
    }
  }

  a {
    color:green;
    font-weight: bold;
     
  }

  .slide {
    width: 90%;     
    height: 90%;
    padding: 20px;    
    /*background-color: #fff;*/
    display: none;   
    font-size: 1.2em;    
    justify-content: space-between;
    align-items: center;
  }
  
  .slide.active {
    display: block;
  }

  #feature-properties {
    position: absolute;    
    top: -700px;
    margin: auto;
    width: 1300px;
    height: 635px;
    max-height: 635px;
    border: 1px solid #ccc; /* Stel de gewenste border-stijl en kleur in */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Stel de schaduw in */
    background-color: #fff; /* Stel de achtergrondkleur in */
    padding: 20px; /* Stel de gewenste padding in */    
    border-radius: 8px;
    position: relative;
    display: none;        
    z-index: 9999;
  }

  .close {
    position: absolute;
    top: 25px;
    right: 40px;
    cursor: hand;
    cursor: pointer;   
    font-weight: normal;
    text-decoration: underline;
    font-size: 0.8em; 

  }

  #properties {     
    display: block;
    height: 600px;
    overflow-y: scroll; 
    max-width: 100%;
   }

  #properties table {
  border-collapse: collapse;
  width: 100%;
}

#lineage {
  opacity: 0;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left; 
  font-size: 0.8em;   
}

/* Afwisselende rijkleuren */
tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:nth-child(n+1) td:nth-child(2) {
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
}

h4 {

  color: green;
}

 .mermaid svg {
  height: 500px;
  max-height: 500px;
  border: none; 
  cursor: grab;
 }

.buttons {    
    position: relative;
    bottom: 10%;
    justify-content: space-between; /* Horizontale centrering */
    align-items: center; /* Verticale centrering */    
    width: 90%;
    margin: auto; 
}
  
button {
    display:none;
    margin-top: 10px;
}

#nextBtn {
  position: absolute;
  right: 0;
}

#prevBtn {
  position: absolute;
  left: 0;
}

button {
  background-color: green; /* Groene achtergrondkleur */
  color: white; /* Witte tekstkleur */
  border: none; /* Geen rand */
  border-radius: 20px; /* Ronde hoeken */
  padding: 10px 20px; /* Ruimte binnen de knop */
  font-size: 16px; /* Tekstgrootte */
  cursor: pointer; /* Cursorstijl */
  outline: none; /* Verwijder standaardfocusstijl */
}

/* Hover-effect */
button:hover {
  background-color: darkgreen; /* Verander de achtergrondkleur bij hover */
}
  
.header {
  width: 1420px;
  margin: 0 auto;
  text-align: center;
}

#infographic {
  width: 100%;
  padding-bottom: 100%;
  background-image: url('https://www.geonovum.nl/uploads/inline/IMX_0.jpg'); /* URL van de achtergrondafbeelding */
  background-size: contain; /* Zorg ervoor dat de achtergrondafbeelding de container bedekt */
  background-repeat: no-repeat; /* Voorkom herhaling van de achtergrondafbeelding */
  background-position: center; /* Centreer de achtergrondafbeelding */
}

.header h2 {
  font-family: "Ojuju", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  margin: 0;
}


.mermaid {
  background-color: #fff;
  z-index: 9998;
}
.green-line {
  width: 100%;
  height: 5px;
  background-color: green;
  margin-top: 10px; /* Aanpassen aan uw behoefte */
  margin-bottom: 10px; /* Aanpassen aan uw behoefte */
}

#map {
    display: none;
    width: 100%;
    padding-bottom: 100%;
    margin: auto;
    border-radius: 15px;
}


